.description
{
    width: 275px;
    height: 285px;
    position: relative;
    background-color: rgba(8,61,119,0.5);
    transform: translateY(0);
    border-radius: 15px;
    transition: all 1s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.member
{
    cursor: pointer;
    transition: all 1s;
}

.member:hover
{
    transform: scale(1.01);
}

.member:hover .description
{
    transform: translateY(-100%);
}

.description h1
{
    color: #fff;
    font-weight: 600;
    font-size: 30px;
}

.description h2
{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: #05d6fb;
    font-weight: 600;
    font-size: 18px;
    margin-top: 0;
}

.description p
{
    color: #fff;
    text-align: center;
    font-size: 16px;
    padding: 0 15px;
}

.description .social-media svg
{
    color: #fff;
    font-size: 30px;
    margin-left: 4px;
    cursor: pointer;
    transition: all 0.5s;
}

.description .social-media svg:hover
{
    transform: scale(1.1);
    color: #fd1500;
}