.current {
   background-color: rgb(229, 255, 238);
}

.previous {
    background-color: rgb(202, 237, 255);

}

.favourites {
    background-color: rgb(250, 225, 252);
    

}

h2 {
    padding-bottom: 10vh;
}

h3 {
    padding-top: 5vh;
}
.container {
    margin-top: 10vh;
    text-align: center;
}
