.cotr {
    min-height: fit-content;
    padding-left: 3rem;
    padding-right: 3rem;
    width: 100vw;
    display: flex; 
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.cotr h1{
    color: white;
    margin-top: 10px;
    margin-bottom: 20px;
}

.bg-reader {
    background-color: rgb(38, 116, 113);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}

.viewer {
    height: 75vh;
    width: 60vw;
} 