.bg {
    background-color: aquamarine;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}

.ctr {
    width: fit-content; 
    padding-left: 3rem;
    padding-right: 3rem;
    height: 100vh; 
}

.jb {
    height: 50vh; 
}

.mini {
    height: 42vh;
}