
.card {
    border-radius: 5px;
    display: block;
    width: 90px;
    height: 190px;
    margin: auto;
    position: relative;
    text-align: left;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    top: auto !important;
    left: auto !important;
        
}

.content {
    height: 20%;
}

.card > .img-container {
    overflow: hidden;
    background: #e9eaec;
    text-align: center;
    height: 70%;
    padding-top: 10%;

}

.card > .img-container > img {
    width: 80%;
} 

.title {
    font-size: 50%;
    padding-top: 5%;
}

.author {
    font-size: 40%;
}

.averageRating {
    font-size: 40%;
}

.card > .content > ul {
    list-style-type: none;
    padding-left: 5%;
    margin-bottom: 1%
}

.remove {
    font-size: 1vh;
    background-color: blue;
    color: white;
    border-style: none;
    border-radius: 2px;
}

.dropdown > select {
    height: 2vh;
    font-size: 1vh;
    width: 7vw;
    display: block;
    margin: auto;
    margin-top: 2vh;
}

.removeBtn {
    height: fit-content;
}






