

.book {
    display: flex;
    flex-direction: column;
    border-radius: 2px;
    width: 250px;
    height: 350px;
    margin: 10px;
    position: relative;
    text-align: left;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
}

.book > .img-container {
    height: 75%;
    overflow: hidden;
    text-align: center;

}

.book > .img-container > .imgage {
    width: 60%;
}

.image {
    object-fit: cover;
}

.removeButton {
    background-color: rgb(131, 5, 141);
    border: none;
    
    font-size: 1.3vh;
    padding-top: 0.5vh;
}

.author {
    font-size: 1vh;
    margin: 10px;
}

.title {
    font-size: 1.5vh;
    font-weight: bold;
    margin: 10px;
}


